h2.nav {
  position: absolute;
  top: -20em;
  left: -200em;
}

div#nav_aria li, h2 {
 display: inline;
 padding-left: 0.5em;
 background-repeat: no-repeat;
 background-position: left center;
}

div#nav_aria li.nobullet {
 background-image: none;
}

div#nav_aria a {
 padding: 0px;
 padding-right: 0.25em;
 padding-left: 0.25em;
 text-decoration: none;
}

div#nav_aria a:link, div#nav_aria a:visited {
 font-weight: bold;

}

div#nav_aria a:hover, div#nav_aria a:focus {
 color: #f5b673;
 background-color: rgb(56,56,73);
}
