{{extend 'layout.html'}}
  <div id="nav2">
    <h2 class="nav" id="nav2_label">Resources by Audience</h2>
    <ul id="navigation2" role="navigation" aria-labelledby="nav2_label" tabindex="-1">
      <li class="nobullet"><a href="http://www.uiuc.edu/">undergrads</a></li>
      <li><a href="http://www.uiuc.edu/">graduates</a></li>
      <li><a href="http://www.uiuc.edu/">parents</a></li>
      <li><a href="http://www.uiuc.edu/">alumni</a></li>
      <li><a href="http://www.uiuc.edu/">faculty/staff</a></li>
      <li><a href="http://www.uiuc.edu/">employers</a></li>
    </ul>
  </div>
