<!--
Ultimatly the web2py menuing system can support the aria-descriptor format but as '-' is not legal Python one is forced to go through a number of contortions to get this technique to work. Below are some example of approaches

-->

<!-- standard html -->


{{extend 'layout.html'}}
<div id="nav1" >
    <h2 class="nav" id="nav1_label">Career Counseling Resources</h2>
    <ul id="navigation1" role="navigation" aria-labelledby="nav1_label" tabindex="-1">
        <li class="nobullet"><a href="http://www.uiuc.edu/">{{=T('school, work, life balance')}}</a></li>
        <li><a href="http://test.cita.illinois.edu/aria/nav/nav1.html">tools to get the job</a></li>
        <li><a href="http://www.uiuc.edu/">career exploration</a></li>
        <li><a href="http://www.uiuc.edu/">self exploration</a></li>
        </ul>
</div>


<!-- using some helpers -->


<div id="nav1" >
    <h2 class="nav" id="nav1_label">Career Counseling Resources</h2>
    <ul id="navigation1" role="navigation" aria-labelledby="nav1_label" tabindex="-1">
        <li class="nobullet"><a href="http://www.uiuc.edu/">school, work, life balance</a></li>
        {{=LI(A(T('ARIA Examples'), _href='http://test.cita.illinois.edu/aria/'))}}
        {{=LI(A(T('Landmark Roles - Basic Navigation Roles Example 1'), _href='http://test.cita.illinois.edu/aria/nav/nav1.php'))}}
        {{=LI(A(T('Overview of Menubar Examples'), _href='http://test.cita.illinois.edu/aria/menubar/'))}}
        </ul>
</div>

<!-- using a few more helpers -->


<div id="nav1" >
    <h2 class="nav" id="nav1_label">Career Counseling Resources</h2>
    <ul id="navigation1" role="navigation" aria-labelledby="nav1_label" tabindex="-1">
        {{=LI(A(T('ARIA Site Example'), _href='http://test.cita.illinois.edu/aria/nav/nav1.html'),_class="nobullet")}}
        {{=LI(A(T('tools to get the job'), _href='http://www.uiuc.edu/'))}}
        {{=LI(A(T('career exploration'), _href='http://www.uiuc.edu/'))}}
        {{=LI(A(T('self exploration'), _href='http://www.uiuc.edu/'))}}
        </ul>
</div>

<!--
The current web2py way, notice what needs to be done to get the valid aria tag, aria-labelledby to function due to the inclusion of the hyphern in the tag.
-->

<div id="nav1" >
<h2 class="nav" id="nav1_label">Career Counseling Resources</h2>
{{=UL(LI(A(T('school, work, life balance'), _href='http://www.uiuc.edu/'),_class="nobullet"),
LI(A(T('tools to get the job'), _href='http://www.uiuc.edu/')),
LI(A(T('career exploration'), _href='http://www.uiuc.edu/')),
LI(A(T('self exploration'), _href='http://www.uiuc.edu/')),
**{'_id':'navigation1', '_role':'navigation', '_aria-labelledby':'nav1_label', '_tabindex':'-1'})}}

</div>

<!--
here we lose our aria-label due to the same restrictions
-->

<div id="nav1" >
    <h2 class="nav" id="nav1_label">Career Counseling Resources</h2>
{{=MENU(response.menu_language)}}
</div>
